header {
  background-color: #5ca5a5;
  width: 100%;
  height: 156px;
}
.header-mobile-img {
  width: 100%;
  height: 156px;
}
.clear {
  color: #7c8f8f;
  font-family: "League Spartan";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.123px;
  border: none;
  background-color: #fff;
}
.clear:hover {
  cursor: pointer;
  color: #5ca5a5;
}
.filter-items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.filters {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  margin-top: -36px;
  position: relative;
  width: calc(100% - 48px);
  max-width: 768px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}
/*main container styles*/
.main-container {
  margin-top: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 48px);
  max-width: 768px;
  gap: 40px;
  padding-bottom: 150px;
}
.job-div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  padding: 32px 24px 24px;
  gap: 16px;
}
.logoSvg {
  position: absolute;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  top: 0%;
}
.header-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.company-new-feature {
  width: 100%;
  display: flex;
  gap: 33px;
  align-items: center;
}
.company {
  color: #5ca5a5;
  font-size: 13px;
  font-weight: 700;
}
.new {
  color: #fff;
  text-align: center;
  font-family: "League Spartan";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.108px;
  width: 51px;
  height: 24px;
  border-radius: 12px;
  background: #5ca5a5;
  border: none;
}
.featured {
  color: #fff;
  font-family: "League Spartan";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.108px;
  width: 79px;
  height: 24px;
  border-radius: 12px;
  background: #2b3939;
  border: none;
}
.new-featured {
  display: flex;
  gap: 8px;
}
.position {
  color: #2b3939;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  justify-content: flex-start;
  width: 100%;
}
.more-details {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.more-details span {
  color: #7c8f8f;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.123px;
}
.circle {
  width: 4px;
  height: 4px;
  background-color: #b7c4c4;
  border-radius: 50%;
}
.rectangle {
  width: 100%;
  height: 1px;
  background: #b7c4c4;
}
.footer-job {
  max-width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.footer-btns {
  color: #5ca5a5;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.123px;
  width: 81px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(92, 165, 165, 0.1);
  border: none;
}
.footer-btns:hover {
  cursor: pointer;
  background-color: #5ca5a5;
  color: #fff;
}
.filter-button {
  width: 113px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(92, 165, 165, 0.1);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.filter-button h3 {
  margin: 5px 11px 3px 8px;
  color: #5ca5a5;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.123px;
}
.remove-icon-div {
  background-color: #5ca5a5;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-icon-div:hover {
  cursor: pointer;
  background-color: #2b3939;
}
